DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=lelang_bkkjateng
PORT=3001
APP_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
COOKIE_SECURE=false
# ADMIN_EMAIL=admin@bkkjateng.local
# ADMIN_PASSWORD=isi-password-unik-minimal-12-karakter
# ADMIN_NAME=Administrator BKK Jateng
